@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
   
}
html,body{
    height: 100%;
    width: 100%;
}
/* <!-- HEADER --> */
.header{
    width: 100%;
    height: 100px;
    display: flex;
    padding: 10px;
    margin-top: 20px;
    position: sticky;
    background-color:white;
}
/* <!--LOGO  --> */
/* .header  .logo img{
} */
/* <!-- MENU-BAR --> */

.menu-bar{
   padding-top: 10px ;
   padding-left: 50px ;
   padding-right: 20px ;
   padding-bottom: 40px ;
   font-size: 20px;
}
.menu-bar ul{
    display: flex;
    /* display: none; */
}
.menu-bar ul li{
    margin: 20px ;
    list-style: none;
    position: relative;
}
.menu-bar ul li a{
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 410;
}
.menu-bar a:hover{
    color: rgb(255, 221, 0);
}
/* <!-- CART-ICON --> */
/* .cart-icon{
    position: absolute;
    left: 70%;
} */
.cart-icon i{
    margin-top:35px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    font-size: 22px;
}
.cart-icon i:hover{
    color:rgb(255, 221, 0);
}
/* <!-- Menu-Button --> */
.menubutton{
    margin:20px 20px 0px  120px;
    align-items: center;
    text-align: center;
}
.menubutton button{
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    /* border-radius: 20px; */
    border:2px solid black;
    background-color:rgb(255, 221, 0);
    padding:10px 30px 10px 30px;
}
.menubutton button:hover{
    background-color: white;
    color: black;
}

.menu-icon{
    display: none;
}


/* Basic styling for the slider container */
/* .slider {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 400px;
    overflow: hidden;
    margin: auto;
} */
/* .slider {
    width: 100%;
    height: 500px;
    position: absolute;
}

.slides {
    width: 300%;
    height: 100%;
    display: flex;
}

.slide {
    width: 100%;
    height: 100%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
/* Add Animation */
/* @keyframes autoSlide {
    0%, 20% {
        margin-left: 0;
    }
    25%, 45% {
        margin-left: -100%;
    }
    50%, 70% {
        margin-left: -200%;
    }
}

.slides {
    animation: autoSlide 20s infinite;
}
.slider{
    overflow: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
  } */
/* SLIDE SECTION OFF */


.slider {
    width: 100%;
    height: 500px;
    /* max-width: 1000px; */
    background-image: url(img/cta/scooter-desktop.jpg);
    overflow: hidden;
}
.slides{
    display: grid;
    grid-template-columns: repeat(3, 100%);
    animation: slide 20s infinite;
}
.grid-item {
    padding: 2px;
}
.grid-item img{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    width: 90%;
    overflow: hidden;
}
@keyframes slide {
    0% { transform: translateX(200%); }
    20% { transform: translateX(40%); }
    30% { transform: translateX(-90%); }
    40% { transform: translateX(-150%); }
    50% { transform: translateX(-200%); }
    60% { transform: translateX(-150%); }
    70% { transform: translateX(40%); }
    80% { transform: translateX(90%); }
    100% { transform: translateX(200%); }
} 





/* best-seller-section */

.best-product h1{
    position: relative;
    top: 80px;
    font-size: 45px;
    font-weight: 300;
    float: left;
    padding-left: 20px;
    padding-bottom: 40px;
}
.container{
    height:100%;
    width: 100%;
    display:flex;
    padding: 10px;
    transition: transform 0.3s ease;
    /* padding: 10px 50px 20px 50px ; */
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.box{
    margin: 80px 20px 20px 20px;
    width: 27%;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

}
.box img {
    width: 300px;
    height: 400px;
}

.box:hover {
    transform: scale(1.04);
}
.box h2{
    font-weight: 400;
    color: #292929;
}
.box p{
    text-align: center;
    color: #696868;
    font-weight: 340;
    width: 290px;
}
.rent-now{
    height: 50px;
    width: auto;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    align-items: center;
    text-align: center;
    /* border-radius: 20px; */
    border:2px solid black;
    background-color:rgb(255, 221, 0);
    padding:0px 40px 0px 40px;
    margin-top: 8px;
}
/* .rent-now :hover{
    background-color: black;
    color: yellow;
    border-color: white;
} */
.rent-now a{
    text-decoration: none;
    color: black;
}

/* .whatsapp-icon img{
    height: 100%;
    width: 100%;
    padding:0px 30px 0px 30px ;
    overflow: hidden;
 } */
 .whatsapp-icon a img{
    /* position: fixed; */
     height:90px;
     width:90px;
     padding: 10px;
     position: absolute;
     float: right;
     top: 80%;
     left: 90%;
     position: fixed;
     /* background-image: url(img/logo/whatsapp.png);   */
 }
/* .whatsapp-icon :hover{
    background-color: red;
} */




/* <!-- CYCLE FEATURE --> */
.cycle-info-container{
    display: flex;
    margin-top: 50px;
}
.cycle-feature-section{
    width: 90%;
    height: 220px;
    margin-top: 90px;
    padding-top: 20px;
    padding-left: 30px;
    margin-left: 70px;
    background-color: #d5d5d5bc;
    color: black;
}
.cycle-feature-section h1{
    font-size: 35px;
    font-weight: 350;
}
.cycle-feature-section h3{
    font-weight: 300;
    font-size: 20px;
}
.cycle-feature-section h4{
    font-size: 20px;
    font-weight: 250;
   }
.cycle-feature-section p{
    font-size: 20px;
    font-weight: 300;
    color: rgb(66, 66, 66);
}
.cycle-feature-section .extra-bettery{
    padding-top: 15px;
    font-size: 19px;
    font-weight: 400;
}
.cycle-image-section img{
    height: 360px;
    width: 390px;
    position: relative;
    left: -30%;
    border: 2px solid black;
    border-radius: 50%;
}


/* car-info-container */
.car-info-container{
    padding-top: 50px;
    display: flex;
}
.car-info-section{
    float: left;
    width: 90%;
    height: 200px;
    margin-top: 90px;
    padding-top: 20px;
    padding-left: 190px;
    margin-right: 70px;
    background-color: #d5d5d5bc;
    /* background-color: rgb(255, 226, 8); */
    color: black;
}
.car-info-section h1{
    font-size: 35px;
    font-weight: 350;
}
.car-info-section h3{
    font-size: 20px;
    font-weight: 300;
}
.car-info-section h4{
    font-size: 20px;
    font-weight: 250;
}
.car-info-section p{
    font-size: 20px;
    font-weight: 300;
    color: rgb(66, 66, 66);
}
.car-image-section img{
    height: 360px;
    width: 400px;
    position: relative;
    left: 30%;
    border: 3px solid rgb(7, 7, 7);
    border-radius: 50%;
}
/* scooter-info-container */
.scooter-info-container{
    display: flex;
    margin-top: 50px;
}
.scooter-feature-section{
    width: 90%;
    height: 220px;
    margin-top: 90px;
    padding-top: 20px;
    padding-left: 30px;
    margin-left: 70px;
    background-color: #d5d5d5bc;
    color: black;
}
.scooter-feature-section h1{
    font-size: 35px;
    font-weight: 350;
}
.scooter-feature-section h3{
    font-weight: 300;
    font-size: 20px;
}
.scooter-feature-section h4{
    font-size: 20px;
    font-weight: 250;
   }
.scooter-feature-section p{
    font-size: 20px;
    font-weight: 300;
    color: rgb(66, 66, 66);
}
.scooter-feature-section .extra-bettery{
    padding-top: 15px;
    font-size: 19px;
    font-weight: 400;
}
.scooter-image-section img{
    height: 360px;
    width: 390px;
    position: relative;
    left: -30%;
    border: 2px solid black;
    border-radius: 50%;
}

/* text-container */

.text-container{
    display: flex;
    margin-top: 50px;
    margin-bottom: 150px;
    height: 443px;
    width: 100%;
    }
.text{
    background-color: #cccccc29;
}
.text-container .text h2{
    text-align: left;
    float: right;
    font-weight: 400;
    font-size: 30px;
    text-transform:capitalize;
    padding: 40px 10px 10px 30px ;
    margin-right: 30px;
}
.text-container video{
    float: left;
    margin-left: 30px;
}



/* <!-- SCOOTER FEATURE --> */
.sectionsevencontainer h2 {
    padding-top: 30px;
    font-family: "Poppins";
    font-size: 60px;
    font-weight: 300;
    float: left;
    padding-left: 20px;
    padding-bottom: 20px;
}
.sectionsevencontainer .rider img{
    height: 300px;
    width: 200px;
}
.rider {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 30px;
    margin-bottom: 50px;
}

.scroll-image{
    display: inline-block;
    animation: scroll 10s linear infinite;
    transition: left 0.5s ease;
}

@keyframes scroll {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}




.reviews{
    /* height: 200px; */
    width: 100%;
}
.review{
    display: inline-flex;
    /* background-color: #ccc; */
    padding-bottom: 20px;
}
.reviews h2{
    font-size: 60px;
    font-weight: 300;
    padding-left: 20px;
    margin: 10px 30px 30px 20px ;
}
.review img{
    height: 400px;
    width: 220px;
    padding-left: 20px;
}
.review img:hover{
    transform: scale(1.04);
}


/* <!-- sectionfifthcontainer FOOTER --> */
.sectionfifthcontainer{
    background-color: black;
    color: white;
    font-weight: 250;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}
.seclogo img{
    height: 50px;
    width: 200px;
}
.footercolumtwo a{
    display: block;
    text-decoration: none;
    color: white;
}
.footercolumthree a{
    display: block;
    text-decoration: none;
    color: white;
}
.socialicon img{
    height: 20px;
    width: 20px;
    display: block;
    margin: 6px;
}
.autor{
    text-align: center;
}
.autor p{
    font-weight: 150;
    font-size: 20px;
}


/* RESPONSIVE WEBSITE */
@media (max-width:320px) {
    .header{
        width: 100vw;
        height: 70px;
        display: inline-flex;
        padding: 10px;
        margin-top: 0px;
    }
    .header  .logo img{
        height: 50px;
        position: absolute;
        left: 0;
        top: 10;
    } 
    .menu-bar{
        position: absolute;
        margin-top: 60px ;
        padding-left: 0px ;
        font-size: 15px;
        display: none;
    }
     .menu-bar ul{
         display: inline-block;
     }
     .menu-bar ul li{
         margin: 2px ;
         list-style: none;
     }
     .menu-bar ul li a{
         /* align-items: center; */
         /* text-align: center; */
         text-decoration: none;
         color: black;
         font-weight: 310;
     }
     .menu-bar a:hover{
         color: rgb(255, 221, 0);
     }
    .cart-icon{
    position: absolute;
    left: 70%;
    display: none;
    }
    .menu-icon{
        margin-top: 5%;
        margin-left: 70%;
        display: inline;
        font-size: 20px;
    }
    .menubutton{
        margin:20px 20px 0px  120px;
        align-items: center;
        text-align: center;
        padding-top: 70%;
        margin-left: 30px;
    }
    .menubutton button{
        font-size: 10px;
        cursor: pointer;
        position: absolute;
        background-color:rgb(255, 221, 0);
        padding:6px 20px 6px 20px;
        margin-left: 50px;
    }
    .menubutton button:hover{
        background-color: white;
        color: black;
    }
    .slider {
        width: 100%;
        height: 140px;
        background-image: url(img/cta/scooter-desktop.jpg);
        overflow: hidden;
    }
    .slides{
        display: grid;
        grid-template-columns: repeat(3, 100%);
        animation: slide 20s infinite;
    }
    .grid-item {
        padding: 2px;
    }
    .grid-item img{
        padding-top: 10px;
        padding-bottom: 10px;
        height: 100%;
        width: 90%;
        overflow: hidden;
    }
    .best-product h1{
        position: relative;
        top: 80px;
        font-size: 20px;
        font-weight: 300;
        float: left;
        padding-left: 20px;
        padding-bottom: 10px;
    }
    .container{
        height:100%;
        width: 100%;
        display:inline;
        padding: 10px;
        transition: transform 0.3s ease;
        /* padding: 10px 50px 20px 50px ; */
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .box{
        margin: 80px 0px 20px 0px;
        width: 100vw;
        text-align: center;
        border: 1px solid #ccc;
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    
    }
    .box img {
        width: 260px;
        height: 300px;
    }
    
    .box:hover {
        transform: scale(1.04);
    }
    .box h2{
        font-weight: 400;
        color: #292929;
    }
    .box p{
        text-align: center;
        color: #696868;
        font-weight: 340;
        width: 290px;
    }
    .rent-now{
        height: 40px;
        width: auto;
        font-size: 15px;
        cursor: pointer;
        position: relative;
        align-items: center;
        text-align: center;
        border:2px solid black;
        background-color:rgb(255, 221, 0);
        padding:0px 30px 0px 30px;
        margin-top: 8px;
    }
    .rent-now a{
        text-decoration: none;
        color: black;
    }
    
    /* .whatsapp-icon img{
        height: 100%;
        width: 100%;
        padding:0px 30px 0px 30px ;
        overflow: hidden;
     } */
     .whatsapp-icon a img{
         height:90px;
         width:90px;
         padding: 10px;
         position: absolute;
         float: right;
         top: 80%;
         left: 90%;
         position: fixed;
          }
    /* .whatsap  p-icon :hover{
        background-color: red;
    } */
    .cycle-info-container{
        display:flex;
        margin-top: 20px;
    }
    .cycle-feature-section{
        position: absolute;
        width: auto;
        height: 200px;
        margin-top: 10px;
        padding-top: 20px;
        padding-left: 10px;
        margin-left: 0px; 
        background-color: #d5d5d5bc;
        color: black;
    }
    .cycle-feature-section h1{
        font-size: 20px;
        font-weight: 450;
    }
    .cycle-feature-section h3{
        font-weight: 350;
        font-size: 10px;
    }
    .cycle-feature-section h4{
        font-size: 20px;
        font-weight: 300;
       }
    .cycle-feature-section p{
        font-size: 15px;
        font-weight: 350;
        color: rgb(66, 66, 66);
    }
    .cycle-feature-section .extra-bettery{
        padding-top: 15px;
        font-size: 12px;
        font-weight: 500;
    }
    .cycle-image-section img{
        height: 134px;
        width: 143px;
        border: 2px solid black;
        border-radius: 50%;
        margin-top: 186px;
        left: 155px;
    }
    .car-info-container{
        display: flex;
        padding-top: 20px;
    }
    .car-info-section{
        position: absolute;
        width: 100%;
        height: 160px;
        margin-top: 10px;
        padding-top: 20px;
        padding-left: 10px;
        margin-left: 0px; 
        background-color: #d5d5d5bc;
        color: black;
    }
    .car-info-section h1{
        font-size: 20px;
        font-weight: 450;
    }
    .car-info-section h3{
        font-weight: 300;
        font-size: 10px;
    }
    .car-info-section h4{
        font-size: 20px;
        font-weight: 300;
    }
    .car-info-section p{
        font-size: 15px;
        font-weight: 350;
        color: rgb(66, 66, 66);
    }
    .car-image-section img{
        height: 134px;
        width: 143px;
        border: 2px solid black;
        border-radius: 50%;
        margin-top: 175px;
        left: 155px;
    }
    /* scooter-info-container */
    .scooter-info-container{
        display: flex;
        margin-top: 20px;
    }
    .scooter-feature-section{
        position: absolute;
        width: auto;
        height: 220px;
        margin-top: 10px;
        padding-top: 20px;
        padding-left: 10px;
        margin-left: 0px;
        background-color: #d5d5d5bc;
        color: black;
    }
    .scooter-feature-section h1{
        font-size: 20px;
        font-weight: 450;
    }
    .scooter-feature-section h3{
        font-weight: 300;
        font-size: 20px;
    }
    .scooter-feature-section h4{
        font-size: 20px;
        font-weight: 300;
       }
    .scooter-feature-section p{
        font-size: 15px;
        font-weight: 350;
        color: rgb(66, 66, 66);
    }
    .scooter-feature-section .extra-bettery{
        padding-top: 15px;
        font-size: 12px;
        font-weight: 500;
    }
    .scooter-image-section img{
        height: 134px;
        width: 143px;
        /* position: relative; */
        border: 2px solid black;
        border-radius: 50%;
        left: 155px;
        margin-top: 186px;
    }
    
.text-container{
    display: inline;
    margin-top: 50px;
    margin-bottom: 150px;
    height: 443px;
    width: 100%;
    }
.text{
    background-color: #cccccc29;
}
.text-container .text h2{
    font-weight: 400;
    font-size: 20px;
    text-transform:capitalize;
    padding: 0px 10px 10px 30px ;
    margin-right: 30px;
    margin: 0;
}
.text-container video{
    height: 250px;
    width: 250px;
}
    
    
    
    
    
}




















/* RESPONSIVE WEBSITE-1*/

